<%- include('../header.ejs') %> 
<br><br>


<h1 class="mt-5">course Display</h1>

<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Email</th>
        <th>phone</th>
        <th>action</th>
    </tr>
    <tr>
        <td>1</td>
        <td>ram</td>
        <td>ram@gmail.com</td>
        <td>455565676</td>
        <td>
            <a href="" class="btn btn-info">view</a>
            <a href="" class="btn btn-success">Edit</a>
            <a href="" class="btn btn-danger">delete</a>
        </td>
    </tr>

</table>

<%- include('../footer.ejs') %>